* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sofia Sans', sans-serif;
    

}
img {

    max-width: 100%;
}






ul, li {
    list-style-type: none;
    
    
}

.parrafo-objetivos {
    display: flex;
    justify-content: center;
    font-weight: 400;
    color: white;
    font-family: 'Merriweather', serif;
    padding-inline: 1rem;

}

.parrafo-contacto{ 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    margin-inline: 1rem;


}

header {
    background: #C9CCD3;
    background-image: linear-gradient(-180deg, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%);
    background-blend-mode: lighten;
}


footer {

    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(3,1,43,1) 0%, rgba(9,9,121,1) 47%, rgba(0,212,255,1) 91%); 
}

img:hover {
    

    -webkit-animation:rotate-vert-center .5s cubic-bezier(.455,.03,.515,.955) both;animation:rotate-vert-center .5s cubic-bezier(.455,.03,.515,.955) both }
    
    


p:hover { 
    
    color: #FFFFFF;
background: #232323;
text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
color: #FFFFFF;
background: #232323;
transition-duration: 1s;
}

h2:hover {
    transform: scale(1.25);
    color: #FFFFFF;
background: #333333;
text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
color: #FFFFFF;
background: #333333;
transition-duration: 1s;

}




    


h4:hover {

    transform: scale(1.25);
    color: #e0dfdc;
    background: #556677;
    letter-spacing: .1em;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0,0,0,0.9);
    color: #e0dfdc;
    background: #556677;
    transition-duration: 1s;
}

h5:hover {
transform:scale(1.25) ;
    color: #bc2e1e;
background: #edde9c;
text-shadow: 0 1px 0px #378ab4, 1px 0 0px #5dabcd, 1px 2px 1px #378ab4, 2px 1px 1px #5dabcd, 2px 3px 2px #378ab4, 3px 2px 2px #5dabcd, 3px 4px 2px #378ab4, 4px 3px 3px #5dabcd, 4px 5px 3px #378ab4, 5px 4px 2px #5dabcd, 5px 6px 2px #378ab4, 6px 5px 2px #5dabcd, 6px 7px 1px #378ab4, 7px 6px 1px #5dabcd, 7px 8px 0px #378ab4, 8px 7px 0px #5dabcd;
color: #bc2e1e;
background: #edde9c;
transition-duration: 1s;
}

    


    



    






    






.titulo-galeria {

    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.titulo-galeria:hover {
    transform: scale(1.25);
    color: #FFFFFF;
    background: #333333;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
    color: #FFFFFF;
    background: #333333;
    transition-duration: 1s;
    }



.frase-galeria {

    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;

}





.container-galeria {
    
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;




}

.container-galeria img {
    height: 100%;
    width: 100%;
    object-fit: cover;

}
@media (min-width:1024px) 
{
     .container-galeria {
        
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        grid-template-rows: repeat(2, 1fr);

        }

        .imagen-destacada {
            display: grid;
            grid-column: span 2;
            

        }
        
        



}

@media (min-width:1024px) {
    .portada-objetivos {
        background-image: url("../img/portada-objetivos.jpg");
        background-size: cover;
        background-position: center center;
        object-fit: cover;
      
        
        
        

    }
    









}

Animaciones Imagenes 


.rotate-vert-center{-webkit-animation:rotate-vert-center .5s cubic-bezier(.455,.03,.515,.955) both;animation:rotate-vert-center .5s cubic-bezier(.455,.03,.515,.955) both}



 @-webkit-keyframes rotate-vert-center{0%{-webkit-transform:rotateY(0);transform:rotateY(0)}100%{-webkit-transform:rotateY(360deg);transform:rotateY(360deg)}}@keyframes rotate-vert-center{0%{-webkit-transform:rotateY(0);transform:rotateY(0)}100%{-webkit-transform:rotateY(360deg);transform:rotateY(360deg)}}

 Animaciones parrafo 

 .text-shadow-pop-br{-webkit-animation:text-shadow-pop-br .6s both;animation:text-shadow-pop-br .6s both}



@-webkit-keyframes text-shadow-pop-br{0%{text-shadow:0 0 #555,0 0 #555,0 0 #555,0 0 #555,0 0 #555,0 0 #555,0 0 #555,0 0 #555;-webkit-transform:translateX(0) translateY(0);transform:translateX(0) translateY(0)}100%{text-shadow:1px 1px #555,2px 2px #555,3px 3px #555,4px 4px #555,5px 5px #555,6px 6px #555,7px 7px #555,8px 8px #555;-webkit-transform:translateX(-8px) translateY(-8px);transform:translateX(-8px) translateY(-8px)}}@keyframes text-shadow-pop-br{0%{text-shadow:0 0 #555,0 0 #555,0 0 #555,0 0 #555,0 0 #555,0 0 #555,0 0 #555,0 0 #555;-webkit-transform:translateX(0) translateY(0);transform:translateX(0) translateY(0)}100%{text-shadow:1px 1px #555,2px 2px #555,3px 3px #555,4px 4px #555,5px 5px #555,6px 6px #555,7px 7px #555,8px 8px #555;-webkit-transform:translateX(-8px) translateY(-8px);transform:translateX(-8px) translateY(-8px)}}
