* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sofia Sans', sans-serif;
    

}
img {
    max-width: 100%;
}

ul, li {
    list-style-type: none;
    
    
}

.parrafo-objetivos {
    display: flex;
    justify-content: center;
    font-weight: 400;
    color: white;
    font-family: 'Merriweather', serif;
    padding-inline: 1rem;

}

.parrafo-contacto{ 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    margin-inline: 1rem;


}



    






.titulo-galeria {

    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.frase-galeria {

    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;

}

.container-footer {
    display: flex;
    flex-direction: column;

}



.container-galeria {
    
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;




}

.container-galeria img {
    height: 100%;
    width: 100%;
    object-fit: cover;

}
@media (min-width:1024px) 
{
     .container-galeria {
        
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        grid-template-rows: repeat(2, 1fr);

        }

        .imagen-destacada {
            display: grid;
            grid-column: span 2;
            

        }
        
        



}

@media (min-width:1024px) {
    .portada-objetivos {
        background-image: url("../img/portada-objetivos.jpg");
        background-size: cover;
        background-position: center center;
        object-fit: cover;
      
        
        
        

    }
    









}